
<div class="mini-calendar-container" id="ng_scheduler_mini_calendar" [@miniCalState]="miniCalState">
    <div id="cal_here" class="mini-calendar"></div>
</div>
<div style="width:100%; height:100%;" class="dhx_cal_container" id="ng_scheduler">
    <div class="dhx_cal_navline" ng-transclude>
        <div class="dhx_cal_date" style="display: none;"></div>
        <div class="dhx_cal_tab" name="day_tab" style="right:204px;"></div>
        <div class="dhx_cal_tab" name="week_tab" style="right:140px;"></div>
        <div class="dhx_cal_tab" name="month_tab" style="right:76px;"></div>
        <div class="dhx_minical_icon" id="dhx_minical_icon" (click)="toggleCalendar()">&nbsp;</div>
    </div>
    <div class="dhx_cal_header"></div>
    <div class="dhx_cal_data"></div>
</div>
<div *ngIf="activeEvent" class="event-details" [@eventDetails]="activeEvent">
    <button (click)="setEvent()">Close</button>
    {{ activeEvent | json }}
</div>
