.event-details {
    background-color: white;
    position: fixed;
    bottom: 0px;
    width: 100%;
    z-index: 20;
}

@media screen and (min-width: 500px) {
    .event-details {
        max-width: 500px;
        margin-left: -250px;
        left: 50%;
    }
}

.mini-calendar-container {
    width: 100%;
    position: absolute;
    top: 59px;
    z-index: 10;
    text-align: center;
}

.mini-calendar {
    background-color: white;
    width: 100%;
    display: inline-block;
}

.dhx_year_month {
    font-size: 22px;
}


.dhx_cal_navline {
    z-index: 13;
    background-color: white;
    /*display: inline-block;*/
}

.threethree, .dhx_cal_date {
    display: inline-block;
    width: 33%;
    left: auto;
    right: auto;
    position: relative;
}

.dhx_cal_prev_button, .dhx_cal_next_button {
    display: inline-block;
    position: relative;
    top: auto;
    bottom: auto;
    right: auto;
    left: auto;
    padding: 0;
}

.dhx_cal_date {
    transform: translateY(-20%);
}

.dhx_cal_prev_button {
    float: right;
}

.dhx_cal_next_button {
    float: left;
}

.dhx_cal_container, .dhx_mini_calendar {
    box-shadow: none !important;
    padding: 0px;
}


[hidden] {
    display: none;
}

.dhx_cal_select_menu {
    display: none;
}

@media screen and (max-width: 720px) {
    .ng_cal_nav_hidden {
        display: none;
    }
}

.dhx-overlay {
    background: rgba(0,0,0,.5);
    position: fixed;
    top: 0;
    left:  0;
    width: 100%;
    height: 100%;
    z-index: 17;
}
