.event-details {
    background-color: white;
    position: fixed;
    bottom: 0px;
    width: 100%;
    z-index: 10;
}

.mini-calendar-container {
    width: 100%;
    position: absolute;
    top: 59px;
    z-index: 10;
    text-align: center;
}

.mini-calendar {
    background-color: white;
    width: 100%;
    display: inline-block;
}

.dhx_year_month {
    font-size: 22px;
}


.dhx_cal_navline {
    z-index: 13;
    background-color: white;
}


.dhx_cal_container, .dhx_mini_calendar {
    box-shadow: none !important;
    padding: 0px;
}


